<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{homePage}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<div class="col-md-8 blog-main" layout:fragment="content">
<h1> Login</h1>

<form th:action="@{/login}" method="post">

    <p>Login
    <div><input type="text" id="login" name="login" autofocus="autofocus" placeholder="Username">/></div>
    </p>

    <p>Password
    <div><input type="text" id="password" name="password" placeholder="Password"></div>
    </p>
    <p>
        <input type="submit" name="login-submit" id="login-submit" value="Sign in"/>
    </p>
</form>

<p>
    Don't have an account yet?
<form th:action="@{/user/registration}" method="get">
    <input type="submit" value="Register">
</form>
</p>

</div>
</html>