<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="homePage">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
<div class="col-md-8 blog-main" layout:fragment="content">
<h1>Register a new account</h1>

<form th:action="@{/user/registration}" th:object="${user}" method="post">

    <p>Login
    <div><input type="text" id="login" th:field="*{login}"/></div>
    </p>

    <p>Password
    <div><input type="text" id="password" th:field="*{password}"/></div>
    </p>

    <p>Name
    <div><input type="text" id="name" th:field="*{accountName}"/></div>
    </p>

    <p>Province
    <div><input type="text" id="province" th:field="*{province}"/></div>
    </p>

    <p>City
    <div><input type="text" id="city" th:field="*{city}"/></div>
    </p>

    <p>Street name
    <div><input type="text" id="streetName" th:field="*{streetName}"/></div>
    </p>

    <p>House number
    <div><input type="text" id="houseNo" th:field="*{houseNo}"/></div>
    </p>

    <p>Postcode
    <div><input type="text" id="postcode" th:field="*{postcode}"/></div>
    </p>

    <p>Avatar URL
    <div><input type="text" id="avatar" th:field="*{avatarHref}"/></div>
    </p>

    <input type="submit" value="Register"/>

</form>
</div>
</body>
</html>